images/davinciselfie.jpg filter=lfs diff=lfs merge=lfs -text
images/family.jpg filter=lfs diff=lfs merge=lfs -text
images/ploneconf.jpg filter=lfs diff=lfs merge=lfs -text
images/transistor1.jpg filter=lfs diff=lfs merge=lfs -text
images/leo.jpg filter=lfs diff=lfs merge=lfs -text
images/lock.png filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
images/APL1W81_TMJA46P-floorplan_sd.jpg filter=lfs diff=lfs merge=lfs -text
images/amazon_alexa.jpg filter=lfs diff=lfs merge=lfs -text
images/connectivity.jpg filter=lfs diff=lfs merge=lfs -text
images/dan_sullivan.jpg filter=lfs diff=lfs merge=lfs -text
images/data_transfer.jpg filter=lfs diff=lfs merge=lfs -text
images/head_in_clouds.png filter=lfs diff=lfs merge=lfs -text
images/a-day-in-data.jpg filter=lfs diff=lfs merge=lfs -text
images/davincilist.jpg filter=lfs diff=lfs merge=lfs -text
images/math.jpg filter=lfs diff=lfs merge=lfs -text
images/nec_v20.jpg filter=lfs diff=lfs merge=lfs -text
images/oldman.jpg filter=lfs diff=lfs merge=lfs -text
images/sun.png filter=lfs diff=lfs merge=lfs -text
images/team.png filter=lfs diff=lfs merge=lfs -text
Building[[:space:]]Our[[:space:]]Cloud[[:space:]]Community[[:space:]]The[[:space:]]Da[[:space:]]Vinci[[:space:]]Way.pdf filter=lfs diff=lfs merge=lfs -text
images/Apple_A12X.jpg filter=lfs diff=lfs merge=lfs -text
images/speed_innovation.jpg filter=lfs diff=lfs merge=lfs -text
images/deepracer.png filter=lfs diff=lfs merge=lfs -text
images/iot_adoption.png filter=lfs diff=lfs merge=lfs -text
images/proportion.png filter=lfs diff=lfs merge=lfs -text
